@media screen and (min-width:577px) and (max-width: 992px){

#header{
     font-size: 15px;
}
h1{
     font-size: 30px;
}

#hero-text  p{
    font-size: 13px;
}
#hero-text  span{
    font-size: 16px;
}
.hero-kontakt{
    font-size: 15px;
}
#kontakt-dugme1{
    height:40px;
}
#kontakt-dugme2{
    height:40px;
}
h2{
    font-size: 15px;
}
#linija{
    width:60px;
    height:4px
}
#about-me{
    height: 400px;
}
#slika{
   height:300px;
   width:40%;
}
#omeni p{
    font-size: 13px;;
}
#link{
    width:130px;
    height:35px;
}
.kartice span{
    font-size: 17px;
}
.tri-kartice{
    column-gap: 25px;
}
.kartica-edu{
    height: 150px;
}
h4{ 
    font-size: 12px;
}
h3{
    font-size: 18px;
}
.kartica-edu p{
    font-size: 13px;
}
#skills{
    height:650px;
}
#skills span{
    font-size: 17px;
}
#vestine{
    grid-template-columns: repeat(3, 1fr);
}
.vestina img{
    height:60px;
}
.vestina h3{
    font-size: 18px;
}
.skill-card{
    height:300px;
}
#kartice3{
    height:700px;
}
.kartica-proj img{
    border-radius: 10px 0px 0px 10px;
    width: 50%;
    flex: 0 0 50%;
}
.kartica-proj{
    height:200px !important;
}
.kartica-proj p{
    font-size: 13px;
}
.kartica-proj a{
    font-size: 13px;
}
#kontakt span{
    font-size: 17px;
}
form{
    font-size: 15px;
}
h5{
    font-size: 13px;
}
#futer-sekcija{
    height:150px;
}
#futer1{
    height:100px;
}
#futer1 ul li{
    font-size: 13px;
}
#futer p{
    font-size: 13px;
}
}








@media screen and (max-width: 576px){

#header{
     font-size: 13px;
}
.navbar-toggler{
    border: 2px solid white;
}

.navbar-toggler-icon{
    width: 1em;
    height: 1em;
}
h1{
     font-size: 20px;
}
#hero-deo{
    flex-direction: column;
}
#hero-text{
    width:100%;
    height:300px;
    align-items: center;
    justify-content: center;;
}
#hero-text  p{
    font-size: 10px;
    text-align: center;
}
#hero-text  span{
    font-size: 13px;
}
#hero-deo .hero-kontakt{
    display: none !important;
}
#about-me{
    height:450px;
    flex-direction: column-reverse;
}#slika{
    width: 100%;
    height:300px;
    margin-top:0px;
}
#omeni{
    width:100%;
    height:150px;
    margin-top:10px;
}
h2{
    font-size: 13px;
}
#linija{
    width:50px;
    height:3px;
}
#omeni p{
    font-size: 10px;;
}
#link{
    width:100px;
    height:30px;
    border: 2px solid;
}
.kartice{
    height:700px;
}
.kartice span{
    font-size: 13px;
}
.tri-kartice{
    grid-template-columns:none;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
}
.kartica-edu{
    height:150px;
    place-items: center;
}
h4{ 
    font-size: 10px;
}
h3{
    font-size: 15px;
}
.kartica-edu p{
    font-size: 10px;
}
#skills{
    height:650px;
}
#skills span{
    font-size: 13px;
}
#vestine{
    grid-template-columns: repeat(2, 1fr);
}
.vestina{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:10px;
}
.vestina img{
    height:50px;
}
.vestina h3{
    font-size: 15px;
}
.skill-card{
    height:200px;
}
#kartice3{
    height:1000px;
}
.kartica-proj{
    height:300px;
    flex-direction: column !important;
}
.kartica-proj img{
    width:100%;
    height:180px;
    object-fit: cover;
}
.proj-text{
    align-items: center;
}
.kartica-proj p{
    font-size: 10px;
}
.kartica-proj a{
    font-size: 10px;
}
#kontakt span{
    font-size: 15px;
}
form{
    font-size: 10px;
}
h5{
    font-size: 10px;
}
#kontakt-sekcija{
    height: 450px;
}
#kontakt{
    width:100%;
    height:450px;
    flex-direction: column;
}
#kontaktiranje{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#kontakt-info{
    width:50%;
    height: 200px;
}
#kontaktiranje .hero-kontakt{
    width:50%;
    height:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
}
#kontakt-dugme1{
    height:40px;
}
#kontakt-dugme2{
    height:40px;
}
#kontaktiranje .hero-kontakt ul{
    color:blueviolet;
}
#forma{
    width:100%;
    height: 250px;
}
.form-group{
    margin-top: 0px;
}
#futer1 ul li{
    font-size: 10px;
}
#futer p{
    font-size: 10px;
}
#brzi-linkovi{
    display:none;
}
#futer1{
    width:70%;
    height:100px;
}
#futer-sekcija{
    height:150px;
}
}